form {
  display: flex;
  flex-direction: row;
}

#userInput {
  height: 30px;
  margin-right: 15px;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.result-container {
  width: 400px;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0 20px 20px;
}

img {
  margin-right: 5px;
  border-radius: 50%;
}

.user-data {
  display: flex;
  flex-direction: row;
  margin: 5px;
  font-size: 12px;
  color: gray;
}

.name-age {
  display: flex;
  flex-direction: column;
}

#loading {
  position: absolute;
  margin: 50px 400px;
}